<h1>Игра Крестики-нолики ##<%= @game.id %></h1>

<p>Статус: <strong><%= @game.status %></strong></p>
<p>Ходит: <strong><%= @game.current_player if @game.status == 'in_progress' %></strong></p>

<table style="border-collapse: collapse;">
  <% 3.times do |row| %>
    <tr>
      <% 3.times do |col| %>
        <% pos = row * 3 + col %>
        <td style="width: 60px; height: 60px; text-align: center; border: 1px solid black; font-size: 2em;">
          <% cell = @game.board[pos] %>
          <% if cell == ' ' && @game.status == 'in_progress' %>
            <%= button_to " ", game_path(@game, position: pos), method: :put, form_class: 'move-form', style: 'width: 100%; height: 100%; background-color: white; border: none;' %>
          <% else %>
            <%= cell %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Вернуться к списку игр", games_path %>
